@import url(https://fonts.googleapis.com/css?family=Montserrat:700&display=swap);
/* 
* You can import fonts and define variables here
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 1.6; }

h3 {
  font-family: 'Monserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.75rem 0; }

a {
  text-decoration: none; }

code {
  display: inline-block;
  color: #c7254e;
  background: #f9f2f4;
  border-radius: 2px;
  padding: 3px; }

/* Utility Classes */
.bg-primary {
  background: #0c1c33;
  color: #fff; }

.bg-light {
  background: #eee;
  color: #333; }

.container {
  margin: 0 auto;
  max-width: 1100px; }

.btn {
  border: none;
  display: inline-block;
  padding: 0.5rem 2rem;
  background: #333;
  border-radius: 5px;
  margin: 1rem 0;
  color: #fff; }
  .btn:hover {
    background: #555; }

/* Header Area */
header {
  text-align: center;
  padding: 0.75rem;
  border-bottom: 2px solid #183561;
  box-shadow: 0 1px #0c1c33; }
  header img {
    display: block;
    padding: 1.5rem;
    margin: 0 auto;
    height: 200px; }

#instructions {
  display: flex; }
  #instructions h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 0.75rem; }
  #instructions .desc {
    flex: 2;
    line-height: 1.6;
    padding: 1.2em; }
    #instructions .desc p {
      margin-bottom: 0.75rem; }
    #instructions .desc li > a {
      text-decoration: underline;
      color: #00c7fa; }
      #instructions .desc li > a:hover {
        color: #009ec7; }
    #instructions .desc ul {
      margin-left: 2.5em; }
  #instructions .mockup {
    flex: 1;
    padding: 1.2em; }
    #instructions .mockup img {
      width: 100%; }

@media (max-width: 600px) {
  #instructions {
    flex-direction: column; } }

